In [1]:
import pandas as pd
import os

In [4]:
file = 'assets/cities.csv'

In [8]:
df = pd.read_csv(file)
df.head()

,Unnamed: 0,City,Country,Longitude,Latitude,Humidity (%),Wind Speed (mph),Cloudiness (%),Max Temp (f)
0,0,Severo-Kuril'sk,RU,156.12,50.68,74,4.45,100,24.98
1,1,Carora,VE,-70.08,10.18,51,9.01,29,80.71
2,2,Hilo,US,-155.09,19.73,92,4.61,100,65.93
3,3,Port Alfred,ZA,26.89,-33.59,74,20.09,100,69.94
4,4,Qarchak,IR,51.57,35.44,42,7.16,5,52.47

In [11]:
export_df = df.loc[:,['City', 'Country', 'Longitude', 'Latitude', 'Humidity (%)', 'Wind Speed (mph)', 'Cloudiness (%)', 'Max Temp (f)']]
export_df.head()

,City,Country,Longitude,Latitude,Humidity (%),Wind Speed (mph),Cloudiness (%),Max Temp (f)
0,Severo-Kuril'sk,RU,156.12,50.68,74,4.45,100,24.98
1,Carora,VE,-70.08,10.18,51,9.01,29,80.71
2,Hilo,US,-155.09,19.73,92,4.61,100,65.93
3,Port Alfred,ZA,26.89,-33.59,74,20.09,100,69.94
4,Qarchak,IR,51.57,35.44,42,7.16,5,52.47

In [12]:
export_df.to_html('table.html')